@import "./static/icons/iconfont.css";
@import "./theme/var.scss";
@import "./components/asyncLoader/index.scss";
@import "./components/tree/src/index.scss";
@import "./components/designer/src/index.scss";
@import "./extensions/EActionEditor/index.scss";
@import "./extensions/ERuleEditor/index.scss";
@import "./extensions/EColEditor/index.scss";

// 基础组件适配样式
@import "../ui/elementPlus/index.scss";


.elegant-designer-main,
.elegant-builder-main 
{
  // 覆盖iconfont样式
  .iconfont {
    font-family: "elegant-iconfont", "iconfont" !important;
    font-style: normal;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}