// 头部
.elegant-header-container {
  border: 1px solid var(--elegant-border-color);
  border-bottom: 0;
}

.elegant-header,
.elegant-header a {
  height: 42px;
  background-color: var(--elegant-header-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  color: var(--elegant-text-main);
}
